<!DOCTYPE html>
<html>
  <head>
    <title>Pull</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pull</h1>
    <form action="/accept" method="POST" id="dateForm"  >
        <input type="date" name="todayDate" required>

        <input type="submit" value="submit">
    </form>
  </body>
</html>
