<!DOCTYPE html>
<html>
  <head>
    <title>Push</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      input {
        width: 50px;
      }
    </style>
  </head>
  <body>
    <h1>Push</h1>
    <form action="/accept" method="POST" id="dateForm">
      <table>
        <tr>
          <th>Sr.no</th>
          <th>Exercise Name</th>
          <th>1st PR</th>
          <th>2nd PR</th>
          <th>3rd PR</th>
          <th>Complete</th>
        </tr>
        <tr>
          <td>1</td>
          <td>shoulder press</td>
          <td>
            <input type="number" name="ShoulderPressOneLbs" required /> lbs *
            <input type="number" name="ShoulderPressOneRep" required /> rep
          </td>
          <td>
            <input type="number" name="ShoulderPressTwoLbs" required /> lbs *
            <input type="number" name="ShoulderPressTwoRep" required /> rep
          </td>
          <td>
            <input type="number" name="ShoulderPressThreeLbs" required /> lbs *
            <input type="number" name="ShoulderPressThreeRep" required /> rep
          </td>
          <td>
            <input type="" value="Finished" />
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>bench press</td>
          <td>
            <input type="number" name="BenchPressOneLbs" required /> lbs *
            <input type="number" name="BenchPressOneRep" required /> rep
          </td>
          <td>
            <input type="number" name="BenchPressTwoLbs" required /> lbs *
            <input type="number" name="BenchPressTwoRep" required /> rep
          </td>
          <td>
            <input type="number" name="BenchPressThreeLbs" required /> lbs *
            <input type="number" name="BenchPressThreeRep" required /> rep
          </td>
          <td>
            <input type="" value="Finished" />
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Inclined dumbell</td>
          <td>
            <input type="number" name="InclinedDumbellOneLbs" required /> lbs *
            <input type="number" name="InclinedDumbellOneRep" required /> rep
          </td>
          <td>
            <input type="number" name="InclinedDumbellTwoLbs" required /> lbs *
            <input type="number" name="InclinedDumbellTwoRep" required /> rep
          </td>
          <td>
            <input type="number" name="InclinedDumbellThreeLbs" required /> lbs
            *
            <input type="number" name="InclinedDumbellThreeRep" required /> rep
          </td>
          <td>
            <input type="" value="Finished" />
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>skull crusher</td>
          <td>
            <input type="number" name="SkullCrusherOneLbs" required /> lbs *
            <input type="number" name="SkullCrusherOneRep" required /> rep
          </td>
          <td>
            <input type="number" name="SkullCrusherTwoLbs" required /> lbs *
            <input type="number" name="SkullCrusherTwoRep" required /> rep
          </td>
          <td>
            <input type="number" name="SkullCrusherThreeLbs" required /> lbs *
            <input type="number" name="SkullCrusherThreeRep" required /> rep
          </td>
          <td>
            <input type="" value="Finished" />
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>tricep extension</td>
          <td>
            <input type="number" name="TricepExptensionOneLbs" required /> lbs *
            <input type="number" name="TricepExptensionOneRep" required /> rep
          </td>
          <td>
            <input type="number" name="TricepExptensionTwoLbs" required /> lbs *
            <input type="number" name="TricepExptensionTwoRep" required /> rep
          </td>
          <td>
            <input type="number" name="TricepExptensionThreeLbs" required /> lbs
            *
            <input type="number" name="TricepExptensionThreeRep" required /> rep
          </td>
          <td>
            <input type="" value="Finished" />
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td>side raises</td>
          <td>
            <input type="number" name="SideRaisesOneLbs" required /> lbs *
            <input type="number" name="SideRaisesOneRep" required /> rep
          </td>
          <td>
            <input type="number" name="SideRaisesTwoLbs" required /> lbs *
            <input type="number" name="SideRaisesTwoRep" required /> rep
          </td>
          <td>
            <input type="number" name="SideRaisesThreeLbs" required /> lbs *
            <input type="number" name="SideRaisesThreeRep" required /> rep
          </td>
          <td>
            <input type="" value="Finished" />
          </td>
        </tr>
      </table>
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
